@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

div {
  text-align: center;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

.page-loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.site-layout-header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 115px;
  width: 100%;
  background-color: white;
  transform: translateY(-1%);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.menu {
  height: 49px;
}

.logo {
  float: left;
  width: auto;
  height: 26px;
  margin: 12px 24px 16px 12px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.02);
}

.mobile-header-logo-container {
  position: sticky;
  background-color: white;
  z-index: 2;
}

.mobile-header-logo {
  height: auto;
  width: 200px;
  margin: 14px;
}

.site-layout-content {
  min-height: 100%;
  top: 0;
  background-color: white;
  margin-top: -5px;
}

.site-layout-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 0;
  width: 100%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.login-page-appear {
  opacity: 0;
}

.login-page-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.login-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}

.login-page-logo-container {
  border-radius: 24px;
  padding: 25px;
  background-color: white;
  box-shadow: 15px 0 0 -1px #056c90, 30px 0 0 -1px #6ca79c,
    45px 0 0 -1px #adbf8a, 60px 0 0 -1px #faaa6a, 75px 0 0 -1px #f16629,
    -15px 0 0 -1px #056c90, -30px 0 0 -1px #6ca79c, -45px 0 0 -1px #adbf8a,
    -60px 0 0 -1px #faaa6a, -75px 0 0 -1px #f16629;
  transition: box-shadow 0.3s;
}

.login-page-logo-container:hover {
  box-shadow: 15px 0 0 -1px #f16629, 30px 0 0 -1px #faaa6a,
    45px 0 0 -1px #adbf8a, 60px 0 0 -1px #6ca79c, 75px 0 0 -1px #056c90,
    -15px 0 0 -1px #f16629, -30px 0 0 -1px #faaa6a, -45px 0 0 -1px #adbf8a,
    -60px 0 0 -1px #6ca79c, -75px 0 0 -1px #056c90;
}

.login-page-logo-container-appear {
  box-shadow: 0 0 0 -1px #056c90, 0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a,
    0 0 0 -1px #faaa6a, 0 0 0 -1px #f16629, 0 0 0 -1px #056c90,
    0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a, 0 0 0 -1px #faaa6a,
    0 0 0 -1px #f16629;
}

.login-page-logo-container-appear-active {
  box-shadow: 15px 0 0 -1px #056c90, 30px 0 0 -1px #6ca79c,
    45px 0 0 -1px #adbf8a, 60px 0 0 -1px #faaa6a, 75px 0 0 -1px #f16629,
    -15px 0 0 -1px #056c90, -30px 0 0 -1px #6ca79c, -45px 0 0 -1px #adbf8a,
    -60px 0 0 -1px #faaa6a, -75px 0 0 -1px #f16629;
  transition: box-shadow 1500ms ease-in-out;
}

.login-page-logo {
  width: 420px;
  height: auto;
}

@media screen and (max-width: 725px) {
  .login-page-logo {
    width: 250px;
  }

  .login-page-logo-container {
    border-radius: 15px;
    padding: 16px;
    background-color: white;
    box-shadow: 11px 0 0 -1px #056c90, 22px 0 0 -1px #6ca79c,
      33px 0 0 -1px #adbf8a, 44px 0 0 -1px #faaa6a, 55px 0 0 -1px #f16629,
      -11px 0 0 -1px #056c90, -22px 0 0 -1px #6ca79c, -33px 0 0 -1px #adbf8a,
      -44px 0 0 -1px #faaa6a, -55px 0 0 -1px #f16629;
    transition: box-shadow 0.3s;
  }

  .login-page-logo-container:hover {
    box-shadow: 11px 0 0 -1px #f16629, 22px 0 0 -1px #faaa6a,
      33px 0 0 -1px #adbf8a, 44px 0 0 -1px #6ca79c, 55px 0 0 -1px #056c90,
      -11px 0 0 -1px #f16629, -22px 0 0 -1px #faaa6a, -33px 0 0 -1px #adbf8a,
      -44px 0 0 -1px #6ca79c, -55px 0 0 -1px #056c90;
  }

  .login-page-logo-container-appear {
    box-shadow: 0 0 0 -1px #056c90, 0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a,
      0 0 0 -1px #faaa6a, 0 0 0 -1px #f16629, 0 0 0 -1px #056c90,
      0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a, 0 0 0 -1px #faaa6a,
      0 0 0 -1px #f16629;
  }

  .login-page-logo-container-appear-active {
    box-shadow: 11px 0 0 -1px #056c90, 22px 0 0 -1px #6ca79c,
      33px 0 0 -1px #adbf8a, 44px 0 0 -1px #faaa6a, 55px 0 0 -1px #f16629,
      -11px 0 0 -1px #056c90, -22px 0 0 -1px #6ca79c, -33px 0 0 -1px #adbf8a,
      -44px 0 0 -1px #faaa6a, -55px 0 0 -1px #f16629;
    transition: box-shadow 1500ms ease-in-out;
  }
}

@media screen and (max-width: 500px) {
  .login-page-logo {
    width: 200px;
  }

  .login-page-logo-container {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 9px 0 0 -1px #056c90, 18px 0 0 -1px #6ca79c,
      27px 0 0 -1px #adbf8a, 36px 0 0 -1px #faaa6a, 45px 0 0 -1px #f16629,
      -9px 0 0 -1px #056c90, -18px 0 0 -1px #6ca79c, -27px 0 0 -1px #adbf8a,
      -36px 0 0 -1px #faaa6a, -45px 0 0 -1px #f16629;
    transition: box-shadow 0.3s;
  }

  .login-page-logo-container:hover {
    box-shadow: 9px 0 0 -1px #f16629, 18px 0 0 -1px #faaa6a,
      27px 0 0 -1px #adbf8a, 36px 0 0 -1px #6ca79c, 45px 0 0 -1px #056c90,
      -9px 0 0 -1px #f16629, -18px 0 0 -1px #faaa6a, -27px 0 0 -1px #adbf8a,
      -36px 0 0 -1px #6ca79c, -45px 0 0 -1px #056c90;
  }

  .login-page-logo-container-appear {
    box-shadow: 0 0 0 -1px #056c90, 0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a,
      0 0 0 -1px #faaa6a, 0 0 0 -1px #f16629, 0 0 0 -1px #056c90,
      0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a, 0 0 0 -1px #faaa6a,
      0 0 0 -1px #f16629;
  }

  .login-page-logo-container-appear-active {
    box-shadow: 9px 0 0 -1px #056c90, 18px 0 0 -1px #6ca79c,
      27px 0 0 -1px #adbf8a, 36px 0 0 -1px #faaa6a, 45px 0 0 -1px #f16629,
      -9px 0 0 -1px #056c90, -18px 0 0 -1px #6ca79c, -27px 0 0 -1px #adbf8a,
      -36px 0 0 -1px #faaa6a, -45px 0 0 -1px #f16629;
    transition: box-shadow 1500ms ease-in-out;
  }
}

@media screen and (max-height: 450px) {
  .login-page-logo {
    width: 250px;
  }

  .login-page-logo-container {
    border-radius: 15px;
    padding: 16px;
    background-color: white;
    box-shadow: 11px 0 0 -1px #056c90, 22px 0 0 -1px #6ca79c,
      33px 0 0 -1px #adbf8a, 44px 0 0 -1px #faaa6a, 55px 0 0 -1px #f16629,
      -11px 0 0 -1px #056c90, -22px 0 0 -1px #6ca79c, -33px 0 0 -1px #adbf8a,
      -44px 0 0 -1px #faaa6a, -55px 0 0 -1px #f16629;
    transition: box-shadow 0.3s;
  }

  .login-page-logo-container:hover {
    box-shadow: 11px 0 0 -1px #f16629, 22px 0 0 -1px #faaa6a,
      33px 0 0 -1px #adbf8a, 44px 0 0 -1px #6ca79c, 55px 0 0 -1px #056c90,
      -11px 0 0 -1px #f16629, -22px 0 0 -1px #faaa6a, -33px 0 0 -1px #adbf8a,
      -44px 0 0 -1px #6ca79c, -55px 0 0 -1px #056c90;
  }

  .login-page-logo-container-appear {
    box-shadow: 0 0 0 -1px #056c90, 0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a,
      0 0 0 -1px #faaa6a, 0 0 0 -1px #f16629, 0 0 0 -1px #056c90,
      0 0 0 -1px #6ca79c, 0 0 0 -1px #adbf8a, 0 0 0 -1px #faaa6a,
      0 0 0 -1px #f16629;
  }

  .login-page-logo-container-appear-active {
    box-shadow: 11px 0 0 -1px #056c90, 22px 0 0 -1px #6ca79c,
      33px 0 0 -1px #adbf8a, 44px 0 0 -1px #faaa6a, 55px 0 0 -1px #f16629,
      -11px 0 0 -1px #056c90, -22px 0 0 -1px #6ca79c, -33px 0 0 -1px #adbf8a,
      -44px 0 0 -1px #faaa6a, -55px 0 0 -1px #f16629;
    transition: box-shadow 1500ms ease-in-out;
  }
}

#login-button {
  margin: 26px;
}

.logout-button {
  float: right;
  margin-top: -42px;
  margin-right: 12px;
}

.menu-item {
  width: 90px;
  text-align: center;
}

.search-bar {
  margin: 15px;
}

.gif-item {
  box-sizing: border-box;
  display: inline;
  width: 100%;
}

.gif-item img {
  min-height: 300px;
  max-height: 350px;
  max-width: 450px;
  width: auto;
  padding: 2em;
  transition: transform 0.2s;
  cursor: pointer;
}

.gif-item img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  .gif-item img {
    min-height: 200px;
    max-height: 250px;
    max-width: 300px;
  }
}

@media screen and (max-height: 800px) {
  .gif-item img {
    min-height: 200px;
    max-height: 250px;
    max-width: 300px;
  }
}

@media screen and (max-width: 645px) {
  .gif-item img {
    min-height: 100px;
    max-height: 150px;
    max-width: 200px;
  }
}

@media screen and (max-height: 450px) {
  .gif-item img {
    min-height: 150px;
    max-height: 200px;
    max-width: 250px;
  }
}

.gif-list {
  width: 100%;
  height: 100vh;
  margin-bottom: 55px;
}

.favourite-gifs-list {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.close-button {
  position: fixed;
  top: 0;
  right: 0;
  transition: color 0.3s;
  color: #4d5c69;
  cursor: pointer;
}

.close-button:hover {
  color: #f16629;
}

.modal {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 53%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-height: 600px) {
  .modal {
    top: 65%;
    padding: 17px;
  }
}

.gif-modal-img {
  max-height: 350px;
  max-width: 500px;
}

.gif-uploader-img {
  width: 64px;
}

@media screen and (max-width: 660px) {
  .gif-modal-img {
    max-height: 225px;
    max-width: 325px;
  }
}

@media screen and (max-width: 480px) {
  .gif-modal-img {
    max-height: 150x;
    max-width: 250px;
  }

  .gif-uploader-img {
    width: 48px;
  }
}

@media screen and (max-height: 800px) {
  .gif-modal-img {
    max-height: 225px;
    max-width: 325px;
  }
}

@media screen and (max-height: 600px) {
  .gif-modal-img {
    max-height: 125px;
    max-width: 225px;
  }
}

.copied-modal {
  font-size: 16px;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 53%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 15px;
  padding: 20px 20px 6px 20px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
}

.gif-title {
  margin-top: 12px;
  margin-bottom: 8px;
}

@media screen and (max-height: 600px) {
  .gif-title {
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 11px;
  }
}

.gif-uploader {
  margin-bottom: 15px;
}

.gif-modal-button-container {
  display: flex;
  flex-direction: row;
}

.love-button {
  color: red;
  margin-right: 24px;
  transition: color 0.3s;
  cursor: pointer;
}

.love-button:hover {
  color: rgb(255, 130, 130);
}

.social-share-modal {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 53%;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
}

.social-share-button {
  margin: 8px;
  cursor: pointer;
}

.social-share-icon {
  width: 64px;
}

.social-share-row {
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  .social-share-modal {
    padding: 8px;
  }

  .social-share-icon {
    width: 40px;
  }

  .social-share-row {
    margin-bottom: -24px;
  }
}

@media screen and (max-height: 600px) {
  .social-share-modal {
    top: 65%;
  }

  .social-share-modal {
    padding: 8px;
  }

  .social-share-icon {
    width: 40px;
  }

  .social-share-row {
    margin-bottom: -24px;
  }
}
